{% extends "base.twig" %}
{% set body_class = 'home-page' %}

{% block content %}

	{% include 'components/top-area.twig' %}
	
	{% if post.post_content %}
		<section class="intro">
			<div class="container narrow">
				<div class="large align-center">
					<p>{{ post.post_content }}</p>
					<a href="{{ post.get_field('info_link') }}" class="underlined-link">{{ post.info_link_text }}</a>
				</div>
			</div>
		</section>
	{% endif %}

	<section>
		<div class="container no-top-space">
			<div class="inline-grid home-grid wide-gutter">
				{% for item in post.get_field('featured_items') %}
					<div class="col">						
						{% include 'components/home-thumb.twig' %}
					</div>
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="light">
		<div class="section-header">
			<div class="container">
				<h4 class="h3">{{ post.featured_work_title }}</h4>
			</div>
		</div>
		<div class="container no-top-space no-bottom-space">
			<div class="inline-grid v-spaced">
				{% set hide_info = post.hide_info %}
				{% for item in post.get_field('featured_work') %}
					<div class="col-4">
						{% include 'components/project-thumb.twig' %}
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="more-cta">
			<div class="container">
				<a class="underlined-link" href="{{ post.get_field('work_link') }}">{{ post.work_link_text }}</a>
			</div>
		</div>
	</section>

	<section>
		<div class="section-header">
			<div class="container">
				<h4 class="h3">{{ post.instagram_title }}</h4>
			</div>
		</div>

		{% set instagrams = get_instagrams() %}
		{% if instagrams %}	
			<div class="container no-top-space no-bottom-space instagrid">
				<div class="inline-grid v-spaced">
					{% for gram in instagrams %}
						<div class="col-4">
							<a style="background-image: url({{ gram.images.standard_resolution.url }})" class="instagram-thumb thumb" href="{{ gram.link }}" target="_blank">
								<img src="{{ gram.images.standard_resolution.url }}"/>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}

		<div class="more-cta">
			<div class="container">
				<a class="underlined-link" href="{{ post.instagram_link }}">{{ post.instagram_link_text }}</a>
			</div>
		</div>
	</section>

{% endblock %}{# end content #}