{% extends "base.twig" %}
{% set body_class = 'project-page' %}
{% set page_title = post.title %}
{% set secondary_text = post.terms | join(', ') %}

{% block content %}

	<section class="project-images no-top-space">
		<div class="container">
			<div class="inline-grid v-spaced middle">
				{% for block in post.get_field('project_images') %}

					{% if block.image_layout == 'half' %}
						<div class="col-6">
					{% elseif block.image_layout == 'third' %}
						<div class="col-4">
					{% elseif block.image_layout == 'two-thirds' %}
						<div class="col-8">
					{% elseif block.image_layout == 'quarter' %}
						<div class="col-3">
					{% else %}
						<div class="col-12">
					{% endif %}
						{% include 'components/flexible-content/project-image.twig' with {
							'media' : block.media_type,
							'style' : block.device_or_bg,
							'gutter' : block.gutter,
							'background_color' : post.background_color
						} %}
					</div>

				{% endfor %}
			</div>
		</div>
	</section>

	<section>
		<div class="container narrow align-center">
			<div class="rich-text large-font-size space-after">
				{{ post.content }}
			</div>
			<div>
				{% if post.get_field('project_link') %}
					<p class="space-after">
						<a href="{{ post.get_field('project_link') }}" target="_blank">{{ post.get_field('project_link') }}</a>
					</p>
				{% endif %}

				<p class="light-text-color">
					{% set services = post.terms %}
					{% for service in services %}
						<a href="{{ service.link }}" class="transition-link">{{ service.name }}</a>{% if loop.last == false %},{% endif %}
					{% endfor %}
				</p>
				
				{% for credit in post.get_field('credits') %}
					<p class="light-text-color"><span class="label">{{ credit.label }}</span> {{ credit.name }} {{ credit.contributor_link }}</p>
				{% endfor %}
			</div>
		</div>
	</section>

	<section>
		<div class="container no-top-space no-bottom-space">
				
				<div class="align-center wide-space-after">
					<h3 class="header-style">More Projects</h3>
				</div>
				
				<div class="inline-grid more-projects-grid v-spaced no-break">
					{#% for project in projects|slice(0, 4) %#}
					{% for project in projects %}
						<div class="col">
							{% include 'components/project-thumb.twig' with { 
								'item' : project,
								'layout' : layout,
								'hide_info' : false
							} %}
						</div>
					{% endfor %}
				</div>

				<div class="align-center wide-space-before">
					<a href="/portfolio" class="transition-link header-style underlined">All Work</a>
				</div>
		</div>
	</section>

{% endblock %}{# end content #}