			
<a href="{{ item.link }}" class="transition-link thumb journal-thumb">
	<img src="{{ TimberImage(item.thumbnail).src | resize(1500,750) }}" alt="{{ item.thumbnail | alt }}">
	<div class="float-grid">
		<div class="col">
			<div class="article-info">
				{% if item.category.length %}
					<h6 class="category light-text-color">{{ item.category.0.title }}</h6>
				{% endif %}
				<h3 class="article-title">{{ item.title }}</h3>
			</div>
		</div>
		<div class="col right">
			{{ item.content }}
		</div>
	</div>
</a>