{% if block.layout == 'image_left' %}
	{% set layout_1 = 'right' %}
	{% set layout_2 = 'left' %}
{% else %}
	{% set layout_1 = 'left' %}
	{% set layout_2 = 'right' %}
{% endif %}

	<section>
		<div class="container">
			<div class="float-grid wide-gutter">
				<div class="col-6 {{ layout_1 }}">
					<h3 class="h2 info-section-title light-text-color">{{ block.title }}</h3>
				</div>
				<div class="col-6 {{ layout_2 }}">
					<img src="{{ TimberImage(block.image).src | resize(700, 700)}}">
				</div>
				<div class="col-6 {{ layout_1 }}">
					<div class="lg">
						<p>{{ block.callout }}</p>
					</div>
					{{ block.text }}
				</div>
			</div>
		</div>
	</section>