<section class="disciplines mid-grey">
	<div class="container">
		<div class="float-grid wide-gutter">
			<div class="col-6">
				<h3 class="h2 info-section-title light-text-color">{{ block.title }}</h3>
			</div>
			<div class="col-6">
				<ul class="{{ block.list_style == 'normal' ? 'two-col-list' : 'large-list' }}">
					{% for item in block.list_items %}
						<li {% if item.header %}class="header"{% endif %} >
							{% if item.link %}
								<a href="{{ item.link }}" target="_blank">{{ item.text }} <span class="icon">{% include 'icons/ht-arrow-right-stem.svg' %}</span></a>
							{% else %}
								{{ item.text }}
							{% endif %}
						</li>

					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</section>