{% set project_image =  TimberImage(block.project_image) %}
<div class="{% if gutter != 'normal' %}{{ gutter }} {% endif %}{{ style }}" {% if (style != 'none') and (block.alternate_matt == true) %}style="background-color: {{ background_color }}{% endif %}">
	{% if media == 'video' %}
		<video autoplay loop muted playsinline>
      <source src="{{TimberImage(block.video).src}}" type="video/mp4">
    </video>
	{% else %}
		{% if '.gif' in project_image.src %}
			<img
				src="{{ project_image.src }}"
				alt="{{ block.project_image | alt}}">
		{% else %}
				<img
				srcset="{{ project_image.src | resize(600) }} 600w,
					{{ project_image.src | resize(1000) }} 1000w,
					{{ project_image.src | resize(1200) }} 1200w,
					{{ project_image.src | resize(1500) }} 1500w"
				sizes="
					{% if (style == 'browser') or (style == 'mobile') or (style == 'poster') %}
						(min-width: 600) 700px, 90vw
					{% elseif width == 'half' %}
						(min-width: 600) 45vw, 90vw
					{% elseif width == 'third' %}
						(min-width: 600) 30vw, 90vw
					{% else %}
						90vw
					{% endif %}"
				src="{{ project_image.src | resize(1200) }}"
				alt="{{ block.project_image | alt}}">
		{% endif %}
		{% if project_image.post_excerpt %}
			<p class="caption">{{ project_image.post_excerpt }}</p>
		{% endif %}
	{% endif %}
</div>