{% set project_image =  TimberImage(block.project_image) %}
<div class="{% if gutter != 'normal' %}{#{ gutter }#} {% endif %}{{ style }}" {% if style != 'none' %}style="background-color: {{ background_color }}{% endif %}">
	{% if media == 'video' %}
		<video autoplay loop muted playsinline>
      <source src="{{TimberImage(block.video).src}}" type="video/mp4">
    </video>
	{% else %}
		{% if '.gif' in project_image.src %}
			<img
				src="{{ project_image.src }}"
				alt="{{ block.project_image | alt}}">
		{% else %}
				<img
				srcset="{{ project_image.src | resize(600) }} 600w,
					{{ project_image.src | resize(1000) }} 1000w,
					{{ project_image.src | resize(1200) }} 1200w,
					{{ project_image.src | resize(1500) }} 1500w"
				sizes="(max-width: 400px) 400px,
            (max-width: 800px) 800px,
            (max-width: 1200px) 1200px,
            (min-width: 1300px) 1500px"
				src="{{ project_image.src | resize(1200) }}"
				alt="{{ block.project_image | alt}}">
		{% endif %}
		{% if project_image.post_excerpt %}
			<p class="caption">{{ project_image.post_excerpt }}</p>
		{% endif %}
	{% endif %}
</div>